<form
  method="post"
  class="w-[100%] h-[100%] flex flex-row"
  [formGroup]="emergenciaForm"
  autocomplete="off"
>
  <section
    class="h-full w-[55%] flex-col flex items-center justify-between gap-[5%]"
  >
    <div
      class="w-full h-[55%] border-2 border-custom-secondary border-custom-secondary/20 rounded-md py-[1%] px-[1.5%] gap-[2%] flex flex-col justify-between"
    >
      <p
        class="font-maven-pro font-bold text-xl text-custom-secondary"
        style="text-shadow: 1px 1px 4px #008005"
      >
        NOTIFICACIONES DE ALERTA
      </p>
      <section class="h-[20%] w-full flex flex-row gap-[1.5%]">
        <div
          class="relative bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <button
            (click)="toggleDropdown1()"
            class="w-full h-full flex items-center justify-between text-custom-primary font-maven-pro text-base"
          >
            <span>{{ selectedAlert1() || "Nivel de Alerta" }}</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              />
            </svg>
          </button>

          <div
            *ngIf="isOpenInput1()"
            class="absolute top-full left-0 w-full mt-1 bg-custom-secondary rounded-sm shadow-lg z-50"
          >
            <div
              *ngFor="let alert of alerts"
              (click)="selectAlert1(alert)"
              class="px-4 py-2 hover:bg-custom-secondary/80 cursor-pointer flex items-center gap-2"
            >
              <div
                [class]="'w-3 h-3 rounded-full ' + getColorClass(alert)"
              ></div>
              <span class="text-custom-primary">{{ alert }}</span>
            </div>
          </div>
        </div>
        <div
          class="relative bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <button
            (click)="toggleDropdown2()"
            class="w-full h-full flex items-center justify-between text-custom-primary font-maven-pro text-base"
          >
            <span>{{ selectedEvent() || "Tipo de Evento" }}</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              />
            </svg>
          </button>

          <div
            *ngIf="isOpenInput2()"
            class="absolute top-full left-0 w-full mt-1 bg-custom-secondary rounded-sm shadow-lg z-50"
          >
            <div
              *ngFor="let evento of eventos"
              (click)="selectEvent(evento)"
              class="px-4 py-2 hover:bg-custom-secondary/80 cursor-pointer text-custom-primary"
            >
              {{ evento }}
            </div>
          </div>
        </div>
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="descripcion"
            placeholder="Descripcion "
            type="text"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
      </section>
      <section class="h-[20%] w-full flex flex-row gap-[1.5%]">
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="zonasAfectadas"
            placeholder="Zonas Afectadas"
            type="text"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="vigencia"
            placeholder="Vigencias"
            type="text"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="recomendaciones"
            placeholder="Recomendaciones"
            type="text"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
      </section>
      <section class="h-[20%] w-full flex flex-row gap-[1.5%]">
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="institucionEmisora"
            placeholder="Institucion Emisora"
            type="text"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="coordenadas"
            [placeholder]="
              latitude() === 0 && longitude() === 0 ? 'Coordenadas X,Y' : ''
            "
            [value]="
              latitude() === 0 && longitude() === 0
                ? ''
                : latitude() + ', ' + longitude()
            "
            type="text"
            readonly
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="contacto"
            placeholder="Contactos Emergencia"
            type="text"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
      </section>
      <section class="h-[15%] w-full flex flex-row gap-[1.5%]">
        <button
          (click)="OnChangedEstadoForm()"
          [ngClass]="
            estadoForm() ? 'rounded-full p-1 shadow-custom-option-dashboar' : ''
          "
          class="bg-custom-tertiary/25 rounded-full p-1 w-[5.6%] flex items-center justify-center"
        >
          <img
            [src]="estadoForm() ? 'assets/view.svg' : 'assets/editar.svg'"
            [alt]="estadoForm() ? 'Ver' : 'Editar'"
            [title]="estadoForm() ? 'Modo visualización' : 'Modo edición'"
            class="h-6 w-6 cursor-pointer"
          />
        </button>
        <button
          (click)="estadoForm() ? updateAlerta() : createAlerta()"
          class="bg-custom-tertiary/25 rounded-full p-1 shadow-custom-option-dashboar w-[5.6%] flex items-center justify-center"
        >
          <img src="assets/guardarDatos.svg" alt="" class="h-6 w-6" />
        </button>
      </section>
    </div>
    <div
      class="w-full h-[45%] border-2 border-custom-secondary border-custom-secondary/20 rounded-md py-[1%] px-[1.5%] gap-[3%] flex flex-col"
    >
      <div
        #map
        class="h-[100%] w-full rounded-md shadow-custom-option-dashboar"
      ></div>
    </div>
  </section>
  <section
    class="h-full w-[45%] flex-col pl-[1.5%] flex items-center justify-between gap-[5%]"
  >
    <div
      class="w-full h-[55%] border-2 border-custom-secondary border-custom-secondary/20 rounded-md py-[1%] px-[2%] gap-[3%] flex flex-col"
    >
      <p
        class="font-maven-pro font-bold text-xl text-custom-secondary"
        style="text-shadow: 1px 1px 4px #008005"
      >
        LISTA DE ALERTAS
      </p>
      <section
        class="flex flex-row h-[14%] items-center justify-between gap-[3%]"
      >
        <div
          class="bg-custom-secondary h-[100%] w-[45%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            placeholder="Nombre Emergencia"
            type="text"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
        <div
          class="bg-custom-secondary h-[100%] w-[30%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            placeholder="Fecha Emerg."
            type="text"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
        <div class="flex flex-row gap-6 w-[50%] justify-end">
          <button
            class="bg-custom-tertiary/25 rounded-full p-1 shadow-custom-option-dashboar"
          >
            <img src="assets/create.svg" alt="" class="h-6 w-6" />
          </button>
          <button
            class="bg-custom-tertiary/25 rounded-full p-1 shadow-custom-option-dashboar"
          >
            <img src="assets/search.svg" alt="" class="h-6 w-6" />
          </button>
        </div>
      </section>
      <section class="h-[80%] w-full gap-1 overflow-y-auto custom-scrollbar">
        <div
          *ngFor="let alerta of alertas()"
          class="h-[22%] w-full flex flex-row items-center mb-1 text-custom-secondary"
        >
          <!-- Indicador de nivel -->
          <div
            class="rounded-full h-[20%] w-[1%] mr-[1%]"
            [ngClass]="{
              'bg-green-500': alerta.nivelAlerta == 'VERDE (monitoreo)',
              'bg-yellow-500': alerta.nivelAlerta == 'AMARILLA (precaución)',
              'bg-orange-500': alerta.nivelAlerta == 'NARANJA (peligro)',
              'bg-red-500': alerta.nivelAlerta == 'ROJA (emergencia)'
            }"
          ></div>

          <!-- Tipo de Evento - Ajustado -->
          <div class="h-full w-[40%] flex items-center">
            <p
              class="text-xl font-maven-pro truncate overflow-hidden whitespace-nowrap"
            >
              {{ alerta.tipoEvento }}
            </p>
          </div>

          <!-- Nivel de Alerta - Ajustado -->
          <div class="h-full w-[40%] flex items-center pl-4">
            <p class="text-xl font-maven-pro">{{ alerta.nivelAlerta }}</p>
          </div>

          <!-- Botones - Ajustado -->
          <div
            class="h-full w-[18%] flex flex-row justify-end items-center gap-4 pr-2"
          >
            <img
              src="assets/editar.svg"
              alt="Editar"
              class="cursor-pointer object-contain h-6 w-6"
              (click)="editarAlertaCustom(alerta)"
            />
            <img
              src="assets/delete.svg"
              alt="Eliminar"
              class="cursor-pointer object-contain h-6 w-6"
              (click)="eliminarAlerta(alerta.id)"
            />
          </div>
        </div>
      </section>
    </div>
    <label
      for="fileUpload"
      class="w-full h-[45%] flex items-center gap-[5%] justify-center flex-col border-2 border-custom-secondary/20 rounded-md cursor-pointer overflow-hidden"
    >
      <div
        class="w-full h-full flex items-center justify-center overflow-hidden"
      >
        <img
          [src]="imageEmpresa()"
          alt=""
          [class]="
            estadoImagen()
              ? 'w-full h-full object-cover rounded-md'
              : 'h-[50%] w-[30%] object-contain'
          "
        />
      </div>
      <p
        *ngIf="!estadoImagen()"
        class="font-bold font-maven-pro text-xl text-custom-secondary absolute bottom-4"
        style="text-shadow: 1px 1px 4px #008005"
      >
        Subir una imagen 1500x1000
      </p>
      <input
        id="fileUpload"
        type="file"
        class="hidden"
        (change)="seleccionarImagen($event)"
        accept="image/*"
      />
    </label>
  </section>
</form>
