/* Estilizar el scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del thumb */
  border-radius: 10px; /* Bordes redondeados */
  border: 3px solid #f1f1f1; /* Espacio alrededor del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del thumb al pasar el mouse */
}
